#### Account: {{.Account.Num}} / {{.Account.Name}}
#### Risk: {{.Account.Risk}} / Exception Date: {{.Date.Format "01/2006"}}

------------------------------

{{if .Account.In.IsValidAlert}}
{{with .Account.In}}
The account exceeded the incoming profile by __{{.Percent}}__,
the same as __{{printf "$%6.0f" .ClientActualAmount}}__ over the monthly incoming amount of {{printf "$%6.0f" .ActualAmount}}.
Current profile is established at {{printf "$%+v" .EstimatedAmount}} with an expectancy of {{printf "(%+v)" .EstimatedTxn}}.
{{end}}
{{end}}

{{if .Account.Out.IsValidAlert}}
{{with .Account.Out}}
The account exceeded the outgoing profile by __{{.Percent}}__,
the same as __{{printf "$%6.0f" .ClientActualAmount}}__ over the monthly outgoing amount of {{printf "$%6.0f" .ActualAmount}}
Current profile is established at {{printf "$%+v" .EstimatedAmount}} with an expectancy of {{printf "(%+v)" .EstimatedTxn}}.
{{end}}
{{end}}